body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 17px;
    font-weight: normal;
    color: #000000;
}

a {
    text-decoration: none;
}

.btn {
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
    border: none;
    border-radius: 3px;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.page-header {
    background-color: #f4f7f9;
}

.user-menu-bg {
    background-color: #293449;
}

.user-menu a {
    line-height: 18px;
    text-decoration: none;
    color: #ffffff;
}

.logo {
    text-transform: uppercase;
    background-color: #ee3643;
}

.logo span {
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
}

.logo:hover {
    background-color: #ca2c37;
}

.logo:active {
    background-color: #ba2732;
}

.search:hover {
    background-color: #212a3a;
}

.search:active {
    background-color: #ffffff;
}

.bookmark:hover {
    background-color: #212a3a;
}

.bookmark:active {
    opacity: 0.6;
}

.cart:hover {
    background-color: #212a3a;
}

.cart:active {
    opacity: 0.6;
}

.user-menu .btn {
    background-color: #63a63e;
    text-transform: none;
    border-radius: 0;
}

.user-menu .btn:hover {
    background-color: #5fbb2d;
}

.user-menu .btn:active {
    opacity: 0.5;
}

.site-info {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
}

.contacts p:first-child {
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    border: 3px solid red;
}

.contacts p:last-child {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.login, .reg {
    font-size: 21px;
    line-height: 21px;
    text-transform: none;
    color: #000000;
    background-color: #ffffff;
}

.login:hover, .reg:hover {
    color: #ee3643;
}

.login:active, .reg:active {
    color: #000000;
    opacity: 0.3;
}

.main-nav {
    font-size: 17px;
    line-height: 17px;
    list-style: none;
}

.main-nav li {
    background-color: #32425c;
}

.main-nav li:hover {
    background-color: #293449;
}

.main-nav li:active {
    background-color: #1d2739;
}

.main-nav a:active {
    opacity: 0.5;
}

.main-nav a {
    text-decoration: none;
    color: #ffffff;
}

.promo ul {
    list-style: none;
    padding:0px;
    margin:0px;
}

.promo-item p {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;
}

.slider p {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.slider-head {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
    text-transform: uppercase;
}

.slider .btn {
    font-size: 14px;
    line-height: 18px;
}

.slider .btn:hover {
    background-color: #ca2c37;
}

.slider .btn:active {
    background-color: #ba2732;
}

.promo-item .btn {
    background-color: rgba(0, 0, 0, 0.1);
}

.promo-item .btn:hover {
    background-color: rgba(0, 0, 0, 0.2)
}

.promo-item .btn:active {
    background-color: rgba(0, 0, 0, 0.3)
}

.promo-item:nth-child(1) {
    background-color: #ffbf47;
}

.promo-item:nth-child(2) {
    background-color: #3bbce3;
}

.promo-item:nth-child(3) {
    background-color: #dc91d8;
}

.second-list .promo-item:nth-child(1) {
    background-color: #8ed78f;
}

.second-list .promo-item:nth-child(2) {
    background-color: #ffc047;
}

.popular-header, .popular-brands {
    background-color: #f9f5f0;
}

/*
.popular-item:active {
    box-shadow: 0 -1 10px 5px #000000;
    }  */

.popular-header h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
}

.popular-header a {
    font-size: 14px;
    line-height: 18px;
}

.popular-item, .catalog-item {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    list-style: none;
    border: 1px solid #eaeaea;
}

.hidden-buy .btn {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
}

.hidden-buy .btn:first-child {
    background-color: #63a63e;
}

.hidden-buy .btn:last-child {
    color: #32425c;
    background-color: #ffffff;
    border: 1px solid #63a63e;
}

.hidden-buy .btn:first-child:hover {
    background-color: #5fbb2d;
}

.hidden-buy .btn:first-child:active {
    background-color: #518534;
    box-shadow: none;
}

.hidden-buy .btn:last-child:hover {
    border-color: #32425c;
    color: #32425c;
}

.hidden-buy .btn:last-child:active {
    border-color: #32425c;
    color: #32425c;
    opacity: 0.3;
}

.popular-item .name-price, .catalog-item .name-price {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.name-price {
    font-size: 18px;
    line-height: 20px;
}

.popular-item p, .catalog-item p {
    text-decoration: line-through;
    color: #aaaaaa;
}

.popular-item p:last-child, .catalog-item p:last-child {
    text-decoration: none;
    color: #ffffff;
    background-color: #ee3643;
}

.popular-brands h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
}

.popular-brands a {
    font-size: 14px;
    line-height: 18px;
}

.brands ul {
    list-style: none;
}

.brands li {
    border: 1px solid #eaeaea;
}

.brands li:hover {
    box-shadow: 0 10px 40px 1px #a9aeb6
}

.brands li:active {
    opacity: 0.3;
}

.service {
    background-color: #f4f8f9;
}

.service h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.service p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
}

.service ul {
    list-style: none;
}

.service button {
    background-color: #32425c;
    border: none;
}

.service button:hover {
    background-color: #ffffff;
    color: #32425c;
}


.description li:nth-child(1) {
    background-image: url(../img/delivery.png);
    background-repeat: no-repeat;
    background-size: 468px 261px;
    
}

.description li:nth-child(2) {
    background-image: url(../img/100%.png);
    background-repeat: no-repeat;
}

.description li:nth-child(3) {
    background-image: url(../img/credit.png);
    background-repeat: no-repeat;
}
.description li {
    background-position-x: right;
    background-position-y: 30px;
}

.description p {
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
    text-transform: uppercase;
}

.description p:nth-child(1) {
    font-family: "Cuprum", Arial, sans-serif;
}

.description p:nth-child(2) {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    text-transform: none;
    color: #000000;
}

.company-info h2, .company-contacts h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.company-info h2 {
    font-weight: 400;
}

.company-info p, .company-contacts p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.company-info ul {
    list-style: none;
}

.company-info li {
    font-size: 18px;
    line-height: 20px;
}
.company-info .btn {
    font-size: 14px;
}
.company-contacts .btn {
    font-size:14px;
}
.map img {
    background-color: gray;
}

.page-footer {
    background-color: #32425c;
    color: #ffffff;
}

.footer-nav, .footer-promo, .social {
    list-style: none;
}

.footer-logo {
    background-color: #ee3643;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
}

.footer-nav a, .footer-promo a, .social a, .footer-contacts {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-nav a:active {
    text-decoration: none;
    opacity: 0.5;
}

.footer-promo a {
    color: #ffd180;
}

.footer-promo a:hover {
    text-decoration: underline;
}

.footer-promo a:active {
    text-decoration: none;
    opacity: 0.5;
}

.page-footer div .copyright, .feedback b {
    font-size: 16px;
    line-height: 18px;
}

.social {
    display: flex;
    padding: 0;
}

.social-item {
    display: flex;
    justify-content: space-between;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: #212a3a;
}

.social-item a {
    margin: auto auto;
    line-height: 0;
    font-size: 0;
}

.social-item:hover {
    background-color: #ee3643;
}

.feedback b {
    font-weight: normal;
}

.feedback a {
    color: #ffd180
}

.feedback a:hover {
    text-decoration: underline;
}

.feedback a:active {
    text-decoration: none;
    color: #ee3643;
}

.interactive-map {
    background-color: gray;
}

/*для каталога*/

.user-office a {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.user-office .user-name {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
    background-color: #ffffff;
}

.my-order:hover, .my-office:hover {
    color: #ee3643;
}

.user-office a:active {
    color: inherit;
    opacity: 0.3;
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs a {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}

.filter-item ul {
    list-style: none;
}

.catalog-filter h2 {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}

.catalog legend {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}

.filter-item span {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.filter-item label {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20x;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
}

.filter-btn {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18x;
    font-weight: 400;
    color: #000000;
    background-color:#fff;
    border:1px solid#e5e5e5;
    border-radius: 3px;
}

.catalog-filter h2 {
    background-color: #f7f3ec;
}

.range-bg {
    background-color: #f7f3ec;
}

.filter-item span {
    background-color: #f7f3ec;
}

.sorting {
    background-color: #f7f3ec;
}
.sorting p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.sorting ul {
    list-style: none;
}

.sorting a {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    opacity: 0.3;
}

.sorting-item {
    border-bottom: 1px dashed #ee3643;
}

.sorting-item a:hover {
    opacity: 1;
}

.sorting-item:active, .sorting-item a:active {
    color: #ee3643;
    opacity: 1;
    border: hidden;
}

.page {
    border: 1px solid #e5e5e5;
}

.page a {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
}

.page:hover {
    border-color: #bdc6ca;
}

.page:active {
    border-color: #ee3643;
}

.catalog-header, .about {
    background-color: #f2f6f8;
}

.catalog-header h2, .about h2 {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}

.about p {
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.catalog-popup p {
    font-size: 30px;
    line-height: 30px;
}

.catalog-popup .btn {
    font-size: 14px;
    line-height: 18px;
}

.catalog-popup .btn:last-child {
    color: #000000;
    background-color: #ffffff;
}

/*Разметка*/

body {
    margin: auto;
}

.page-header {
    min-width: 1200px;
    padding-bottom: 65px;
    margin-bottom:  59px; 
}

.user-menu {
    display: flex;
    width: 940px;
    margin: auto;
    margin-bottom: 47px;
}

.user-menu .logo {
    text-align: center;
    width: 220px;
    padding:11.5px 0;
}

.logo span {
    padding: 0;
    margin: auto;
    text-align: center;
}

.user-menu .search {
    width: 275px;
    height: 42px;
    padding: 0px;
    text-align: center;
}

.search input {
    margin-top: 9.5px;
    border: none;
    margin-left: 12px;
}

.user-menu .search::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background-image: url("../img/icon-search.svg");
}

.cart, .bookmark {
    width: 140px;
    padding: 12px 0;
    text-align: center
}

.cart {
    width: 160px;
}

.user-menu .btn {
   text-align: center;
    width: 150px;
    padding: 12px 0;
}

.header-middle {
    box-sizing: border-box;
    display: flex;
    width: 940px;
    margin: auto;
    margin-bottom:45px;
}

.header-middle h1 {
    width: 210px;
    margin: 0;
    margin-left: 52px;
    margin-right: 60px;
}

.header-middle .contacts {
    width: 265px;
    margin-right: 68px;
    box-sizing: border-box;
}

.contacts p {
    text-align: center;
    margin:0;
}

.contacts p:first-child {
    padding: 9.5px 0px;
}

.login, .reg {
    display: inline-block;
    text-align: center;
    padding: 11.5px 0px;
    margin-bottom: auto;
    width: 120px;
}

.login {
    margin-right: 10px;
}

.reg {
    width: 150px;
}

nav .main-nav {
    display:flex;
    width:940px;
    margin:auto;
    padding:0;
}
.main-nav li {
    width:150px;
    padding: 21.5px 0;
    text-align: center;
}
.promo {
    width:940px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 53px
}
.promo .promo-item {
    width:300px;
    padding:20px 0px;
}
.promo .promo-item:first-child {
    background-image: url(../img/icon-1.svg);
    background-repeat: no-repeat;
    background-position-x: 210px;
    background-position-y: center;
}
.promo .promo-item:nth-child(2) {
    background-image: url(../img/icon-2.svg);
    background-repeat: no-repeat;
    background-position-x: 200px;
    background-position-y: center;
}
.promo .promo-item:nth-child(3) {
    background-image: url(../img/icon-3.svg);
    background-repeat: no-repeat;
    background-position-x: 195px;
    background-position-y: center;
}
.second-list .promo-item:nth-child(1) {
    background-image: url(../img/icon-4.svg);
    background-repeat: no-repeat;
    background-position-x: 195px;
    background-position-y: center;
}
.second-list .promo-item:nth-child(2) {
    background-image: url(../img/icon-5.svg);
    background-repeat: no-repeat;
    background-position-x: 195px;
    background-position-y: center;
}

.promo-item .btn, .promo-item p {
    margin:0;
    margin-left: 22px;
}
.promo-item p {
margin-bottom: 15px;
}
.promo-item .btn {
    display:flex;
    justify-content: center;
    font-size: 14px;
    padding: 11px 0;
    width:135px;
    border-radius: 5px;
}
.promo .first-line {
    display:flex;
    justify-content: space-between;
}
.promo .second-line {
    display:flex;
    justify-content: space-between;
}
.second-line .second-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0px;
}
.slider {
display:flex;
flex-direction: column;
width:620px;
height: 266px;
margin-top: 20px;
background-image: url(../img/drills.jpg);
background-size: 620px 266px ;
background-repeat: no-repeat;

}
.slider h3 {
    margin:22px 24px;
    margin-bottom:0px;
}
.slider p {
    margin:0 24px;
}
.slider .btn {
    margin-top: auto;
    margin-bottom:24px;
    margin-left:25px;
    text-align: center;
    width:195px;
    padding: 10px 0;
    border-radius: 5px;
}
.popular {
    width:940px;
    margin:auto;
    margin-bottom: 20px;
}
.popular-header, .popular-brands {
    width:940px;
    display:flex;
    justify-content: space-between;
    margin:auto
}
.popular-header h2, .popular-brands h2 {
    margin-top:auto;
    margin-bottom: auto;
    margin-left:30px;
    padding:0;
}
.popular-header .btn, .popular-brands .btn {
    width:255px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right:24px;
    padding:10px 0px;
    text-align: center;
}
.popular ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
}
.popular .popular-item, .catalog .catalog-item {
    width: 220px;
}

.hidden-buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:35px;
}
.hidden-buy a {
    width: 135px;
    padding: 8.5px 0;
    margin: 10px 0;
    text-align: center;
    box-sizing: border-box;
}
.name-price {
    display:flex;
    flex-direction: column;
    text-align: center;
}
.name-price h3, .name-price p {
    margin:0;
}

.name-price p {
    width: 140px;
    margin:auto;
    margin-top:auto;
    padding: 10px 0px;
}
.name-price p:last-of-type {
    margin-bottom: 20px;
}
.brands {
    width:940px;
    margin:auto;
}
.brands .brand-list {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:0px;
}
.brand-list li{
    width: 220px;
    margin-bottom: 20px;
}
.service {
    margin:auto;
    padding:0px;
    padding-top:55px;
}
.service .container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:940px;
    margin:auto;
}
.service-about {
    width: 940px;
}
.service-about p{
width:400px;
}
.service-list {
    display:flex;
    flex-direction: column;
    padding:0px;
}
.service-list button {
    width:240px;
    text-align: left;
    padding: 15px 0px;
    padding-left: 20px;
}
.description {
    display:flex;
    flex-direction: column;
    width:620px;
    padding:0;
}
.description-item {
    width: 620px;
}
.description p {
    margin: 0px;
}
.description-item {
    padding-bottom: 130px;
}
.description-item p:nth-child(1) {
    margin-bottom:30px;
}
.description-item p:nth-child(2) {
    width: 280px;
}
.description-item .btn {
    display: block;
    width:195px;
    margin-top: 30px;
    padding: 10px 0;
    text-align: center;
    border-radius: 3px;
}
.company {
   display: flex;
   width:940px;
   margin:auto;
   padding:0;
   padding-bottom: 85px;
}
.company .company-info {
width: 540px;
padding-top: 80px;
margin-right: 100px;
}
.company-info h2 {
margin:0;
margin-bottom: 25px;
}
.company-info p {
    width: 540px;
    margin:0px;
    margin-bottom: 25px;
}
.company-info p:nth-child(3) {
    width: 390px;
    margin-bottom: 20px;
}
.company-info ul {
padding:0px;
margin:0;
margin-bottom: 15px;
}
.company-info li {
padding-bottom: 20px;
}
.company-info .btn {
    display: block;
    width:220px;
    padding:10px 0px;
    text-align: center;
    border-radius: 3px;
}
.company-contacts {
    width:340px;
    padding-top:80px;
}
.company-contacts h2 {
    margin:0px;
    margin-bottom: 25px;
}
.company-contacts p {
    width: 180px;
    margin:0;
    margin-bottom: 30px;
}
.company-contacts .map {
    margin-bottom: 37px;
}
.company-contacts .btn {
    display: block;
    width:300px;
    padding:10px 0px;
    text-align: center;
    border-radius: 3px;
}
.page-footer{
    min-width:1200px;
}
.footer-first {
    display:flex;
    margin: auto;
    width: 940px;
    margin-bottom: 30px;
}
.footer-second {
    display:flex;
    margin: auto;
    width: 940px;
    margin-bottom: 50px;
}
.footer-third {
    display:flex;
    justify-content: space-between;
    margin:auto;
    padding:35px 0;
    width: 940px;
}
.footer-logo {
    display:block;
    width: 220px;
    margin:0px;
    margin-right: 175px;
    padding: 17.5px 0px;
    text-align: center;
}
.footer-nav {
    display:flex;
    justify-content: space-between;
    width:550px;
    margin:0;
    margin-top:37px;
    padding:0px;
}  
.footer-contacts, .footer-promo {
    display: flex;
    padding:0;
    margin:0;
}
.footer-contacts {
    margin-right: 90px;
}
.footer-promo {
    display:flex;
    justify-content: space-between;
    width: 525px;
    margin:0;
    padding:0px;
}
.copyright {
    margin:0;
    padding:0;
    margin-right: 40px;
}
.social {
    margin:0;
}
.social li {
    padding:0px;
    margin:0px;
    margin-right:5px;
}
.social li:last-child {
    margin-right: 0px;
}
.feedback{
    display: flex;
    justify-content: space-between; 
    width: 290px;
}

.footer-third-bg {
    background-color: #293449;
}

.write-us {
    outline: 1px solid #518534;
    display: flex;
    width:620px;
    justify-content: space-around;
    margin:auto;
    
}
.letter {
    width:620px;
    box-shadow: 0 10px 40px 1px #a9aeb6;
    border-top: 5px solid #ff5257;
    box-sizing: content-box;
}
.letter div {
    display: flex;
    justify-content: space-between;
}
.letter p {
    display: flex;
    flex-direction: column;
    margin:0;
}
.letter label {
    padding-bottom: 10px;
}
.letter .text-area {
margin-bottom:40px;
}
.letter .button-bg {
    background-color:#f4f4f4;
}
.letter .btn {
    width:460px;
    margin: 37px 80px;
    padding: 16px 0px;
    border-radius: 3px;
}
.letter-first {
    padding:40px 80px;
}
.text-area {
    padding:0px 80px;
}
.interactive-map {
    display: flex;
    width:940px;
    margin:auto;
    box-shadow: 0 0 40px 1px #a9aeb6;
}
.interactive-map img {
    padding:0;
    margin:0;
}
/*Разметка каталога*/
.user-office {
    display:flex;
    width:300px;
    flex-direction: column;
}
.user-office .user-name{
    padding:11px 0;
    text-align: center;
    margin-bottom: 5px;
}
.my-order {
    margin-left:20px;
    margin-right:30px;
}
.breadcrumbs {
    display:flex;
    width:940px;
    padding:0;
    margin:auto;
}
.breadcrumbs li {
    margin-left:55px;
}
.catalog {
    display: flex;
    width: 940px;
    margin: auto;
}
.catalog-filter {
    width: 220px;
    margin-right:20px;
}
.catalog-header {
    display:flex;
    margin: auto;
    width:940px;
    margin-bottom: 20px;
}
.catalog-header h2 {
    margin: 27px 0 27px 30px;
}
.catalog-filter h2 {
    margin:0;
    margin-bottom: 11px;
    padding: 11px 0px 11px 20px;
}
.catalog-filter .filter-item {
    border:none;
    padding:0px;
}
.filter-item legend {
    text-align: left;
    margin-bottom: 13px;
}
.catalog-filter .filter-item {
    margin-bottom: 25px;
}
.catalog-filter .price-range {
    width:220px;
    text-align: center;
    padding-bottom: 25px;
    
    border-bottom: 1px solid #e5e5e5;
}
.range-bg {
    padding:30px;
    margin-bottom: 10px;
    text-align: center;
}
.price-number {
    display: flex;
    justify-content: space-between;
}
.filter-item span{
    width: 95px;
    padding: 10px 0;
}
.filter-item span:nth-of-type(2) {
    width: auto;
    background-color: #ffffff;
}
.catalog-filter .filter-brands {
    padding:0px;
    margin-bottom:4px;
    border-bottom: 1px solid #e5e5e5;
}
.filter-brands li, .charge-type li {
    margin-bottom: 17px;
}

.catalog-filter .charge-type {
    margin:0;
    padding:0;
}
.filter-btn {
    width:138px;
    padding:10px;
}
.sorting {
    display:flex;
    justify-content: space-between;
    width:670px;
    padding: 10px 15px;
}
.sorting p {
margin:0;
}
.sorting ul {
    display: flex;
    justify-content: space-between;
    width:360px;
    padding:0px;
    margin:0;
}
.sorting ul:nth-of-type(2){
    width:45px;
}
.catalog-items ul {
    display:flex;
    width:700px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:0;
}
.catalog-items li {
margin-bottom: 20px;
}
.about div {
   
    width: 940px;
    margin:auto;
    padding: 50px 0;
}
.catalog-popup {
    display:flex;
    flex-direction: column;
    width: 620px;
    margin:auto;
    box-shadow: 0 10px 40px 1px #a9aeb6;
}
.catalog-popup p {
    text-align: center;
    margin:0;
    padding:75px;
}
.catalog-popup div {
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 40px 80px;
}
.catalog-popup .btn {
    text-align: center;
    width: 220px;
    padding: 10px 0;
}